<a routerLink="/diary">Diary</a>
<a routerLink="/achievements">Achievements</a>
<a routerLink="/presets">Presets</a>
<a routerLink="/selfbeliefs">Selfbeliefs</a>
<a routerLink="/profile">Profile</a>
<a routerLink="/auth">Auth</a>
<a routerLink="/register">Register</a>




<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <img class="avatar mat-elevation-z8" src="https://sun9-28.userapi.com/impg/hkoHEFeXTqlqSTmwupVQaZQlTBAQLDieuBKB1w/9gflOu9bsh4.jpg?size=1500x1500&quality=96&sign=88b9779174f6057d4533ba92103254f0&type=album" />

        <h4>admin</h4>
        <h4 class="name">Философ</h4>

        <mat-divider></mat-divider>

        <button routerLink="/auth" mat-button class="menu-button">
      <!-- <mat-icon>home</mat-icon> -->
      <span>Авторизация</span>
    </button>

        <button routerLink="/diary" mat-button class="menu-button">
      <!-- <mat-icon>home</mat-icon> -->
      <span>Дневник</span>
    </button>
        <button routerLink="/selfbeliefs" mat-button class="menu-button">
      <!-- <mat-icon>person</mat-icon> -->
      <span>Убеждения</span>
    </button>
        <button routerLink="achievements" mat-button class="menu-button">
      <!-- <mat-icon>info</mat-icon> -->
      <span>Достижения</span>
    </button>
        <button routerLink="presets" mat-button class="menu-button">
      <!-- <mat-icon>info</mat-icon> -->
      <span>Установки</span>
    </button>
        <button routerLink="register" mat-button class="menu-button">
      <!-- <mat-icon>info</mat-icon> -->
      <span>Регистрация</span>
    </button>
        <button routerLink="profile" mat-button class="menu-button">
      <!-- <mat-icon>info</mat-icon> -->
      <span>Профиль</span>
    </button>

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>